body {
  margin: 0;
  color: white;
  background: black;
  font-family: Roboto;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  font-size: 16px;
  margin: 0;
}

section {
  min-height: 100vh;
  min-width: calc(100vw - 55px);
  margin: 20px;
  box-sizing: border-box;
  display: flex;
}

section > div {
  align-self: center;
  min-width: 100%;
}

h1 {
  max-width: 400px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: red;
  color: white;
  font-size: 30px;
  border: 1px solid black;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  transform: rotate(-5.5deg);
}

h1 :nth-child(1) {
  font-size: 40px;
  text-transform: uppercase;
}

h1 :nth-child(2) {
  padding-bottom: 10px;
}

h1 :nth-child(3) {
  background: white;
  color: rgb(75, 75, 75);
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px;
  font-size: 50px;
  font-family: Permanent Marker;
  font-family: Great Vibes;
  font-family: Gloria Hallelujah;
}

h2 {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 90px;
  font-size: 30px;
}

h3 {
  padding-top: 80px;
  padding-bottom: 10px;
  font-size: 28px;
}

h4 {
  text-align: center;
  font-size: 28px;
  padding-bottom: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.image-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#online-presence {
  display: flex;
  justify-content: center;
}

#online-presence .image-list {
  min-height: 60px;
  background: white;
  border-radius: 60px;
  padding: 7px;
  padding-left: 25px;
  padding-right: 25px;
}

#online-presence li {
  padding: 5px;
}

#online-presence img {
  max-height: 40px;
  width: auto;
  height: auto;
}

#online-presence a:hover {
  filter: grayscale(50%) brightness(50%);
}

a #linkedin,
a #medium {
  padding: 10px;
}

img#twitter {
  max-height: 60px;
}

img#github {
  padding: 10px;
  padding-left: 6px;
  padding-right: 6px;
}

#faq {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

h5 {
  font-size: 22px;
  padding-top: 25px;
  padding-bottom: 15px;
}

p {
  margin: 0;
  line-height: 150%;
  margin-bottom: 15px;
  font-size: 18px;
}
