#faq {
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

#faq-inner {
  background: grey;
  padding: 40px;
}

h4 {
  text-align: center;
  font-size: 28px;
  padding-bottom: 30px;
}

h5 {
  font-size: 22px;
  padding-top: 20px;
  padding-bottom: 2px;
}
