#social {
  max-width: 540px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

#social-wall {
  display: flex;
  flex-wrap: wrap;
}

.event {
  background: grey;
  padding: 10px;
  margin: 10px;
  min-width: 100px;
  min-height: 60px;
}
