#activity {
    max-width: 960px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

#activity h3 {
    padding-left: 10px;
}

@media (max-width: 999px) {
    #activity h3 {
        text-align: center;
    }
}

#social-wall {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.event {
    background: grey;
    padding: 10px;
    margin: 10px;
    width: 300px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.event-inner {
    display: flex;
}

.event-icon {
    flex-shrink: 0;
    margin-right: 10px;
}

.event-icon-inner {
    width: 30px;
}

.event-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 60px;
}

.event-title::first-letter {
    text-transform: uppercase;
}

.event-time {
    font-style: italic;
    font-size: 14px;
}
